include ../_vars
-if(is_rtl == true){
    include ../_vars_rtl
-}else{
    include ../_vars_ltr
-}
section.main-strategy#mainStrategy(class="h-max w-full relative pt-28 pb-28")
    .main-wrapper(class="relative w-full z-9")
        .content(class="flex lg:flex-row gap-14 items-center")
            div(class="w-full lg:w-col6 pt-5 pb-5")
                h2(class="text-dark font-body font-normal xxl:text-big lg:text-moremedium2 text-moremedium uppercase")
                    span.block(data-aos="fade-up")=whoStrategyTEXT[0]
                h5(class="block w-full text-font font-head font-normal 2xl:text-normal xl:text-normal2 lg:text-semismall text-small leading-6 mt-5", data-aos="fade-up", data-aos-delay="100")
                    p=whoStrategyTEXT[1]    
               
            
            div(class="w-full lg:w-col6 overflow-hidden sqaure-size")
                img.block(src=src="assets/whoweare/strategy.jpg", alt=whoStrategyTEXT[0], class="w-full h-full object-cover")          