
link(rel='icon' href='assets/logo.ico')
link(rel='stylesheet' href='css/slick.css')
link(rel='stylesheet' href='css/slick-theme.css')
link(rel='stylesheet' href='css/aos.css')
link(rel='stylesheet' href='css/all.min.css')
link(rel='stylesheet' href='css/animate.min.css')
link(rel='stylesheet' href='css/select2.min.css')
link(rel='stylesheet' href='css/tailwind-style.css')
-if(is_rtl == true){
    link(rel='stylesheet' href='css/tailwind-rtl-style.css')
-}

