include _vars
-if(is_rtl == true){
    include _vars_rtl
-}else{
    include _vars_ltr
-}
footer.main-footer#mainFooter(class="h-max w-full relative pb-12")
    .main-wrapper(class="relative w-full z-9")
        .content(class="w-full flex flex-wrap items-center")            
            a(href='index.html' class="inline-block w-[118px]")
                img.footer-logo(src='assets/Logo-Web.svg' alt=title, class="block w-full")
            .copyrights.inline-block.flex-1.text-center 
                div(class="text-extranormal text-font3")= copyrightsTEXT    
            .follow-links.inline-block
                .w-full.flex.items-center 
                    a(href="#", class="w-[22px] inline-block ltr:ml-8 rtl:mr-8 group")
                        <svg class="!w-full !h-auto"  xmlns="http://www.w3.org/2000/svg" width="22.666" height="22.665" viewBox="0 0 22.666 22.665">
                            <path class="fill-dark group-hover:fill-main trans" data-name="Icon awesome-linkedin-in" d="M5.073,22.666H.374V7.534h4.7ZM2.721,5.469A2.734,2.734,0,1,1,5.443,2.722,2.744,2.744,0,0,1,2.721,5.469Zm19.939,17.2H17.972V15.3c0-1.756-.035-4.007-2.443-4.007-2.443,0-2.818,1.907-2.818,3.88v7.493H8.017V7.534h4.507V9.6h.066a4.938,4.938,0,0,1,4.446-2.444c4.756,0,5.63,3.132,5.63,7.2v8.312Z" transform="translate(0 -0.001)" fill="#1b335f"/>
                        </svg>
                    a(href="#", class="w-[27px] inline-block ltr:ml-8 rtl:mr-8 group")
                        <svg class="!w-full !h-auto" xmlns="http://www.w3.org/2000/svg" width="27.906" height="22.665" viewBox="0 0 27.906 22.665">
                            <path class="fill-dark group-hover:fill-main trans" data-name="Icon awesome-twitter" d="M25.038,9.029c.018.248.018.5.018.744,0,7.561-5.755,16.273-16.273,16.273A16.163,16.163,0,0,1,0,23.478a11.832,11.832,0,0,0,1.381.071,11.454,11.454,0,0,0,7.1-2.444,5.73,5.73,0,0,1-5.348-3.966,7.213,7.213,0,0,0,1.08.089,6.049,6.049,0,0,0,1.505-.195A5.72,5.72,0,0,1,1.133,11.42v-.071a5.76,5.76,0,0,0,2.585.726,5.728,5.728,0,0,1-1.771-7.65A16.257,16.257,0,0,0,13.741,10.41,6.457,6.457,0,0,1,13.6,9.1a5.725,5.725,0,0,1,9.9-3.913,11.26,11.26,0,0,0,3.63-1.381,5.7,5.7,0,0,1-2.514,3.152,11.466,11.466,0,0,0,3.294-.885,12.3,12.3,0,0,1-2.868,2.957Z" transform="translate(0 -3.381)" fill="#1b335f"/>
                        </svg>


a.inline-block.up(href="#topBar", class="trans w-12 h-12 lg:w-20 lg:h-20 fixed ltr:right-8 rtl:left-8 bottom-8 cursor-pointer opacity-0 z-99 group") 
    svg.up(class="!w-full" width='98' height='98' viewbox='0 0 98 98' fill='none' xmlns='http://www.w3.org/2000/svg')
        g(filter='url(#filter0_d_112_3)')
            path(class="group-hover:strok-white" d='M25 17H63C64.3132 17 65.6136 17.2587 66.8268 17.7612C68.0401 18.2638 69.1425 19.0003 70.0711 19.9289C70.9997 20.8575 71.7362 21.9599 72.2388 23.1732C72.7413 24.3864 73 25.6868 73 27V65H25V17Z' fill='white' fill-opacity='0.5')
            path(class="group-hover:fill-main" d='M26.5 17.75H63C65.4533 17.75 67.806 18.7246 69.5407 20.4593C71.2754 22.194 72.25 24.5467 72.25 27V63.5C72.25 63.6989 72.171 63.8897 72.0303 64.0303C71.8897 64.171 71.6989 64.25 71.5 64.25H26.5C26.3011 64.25 26.1103 64.171 25.9697 64.0303C25.829 63.8897 25.75 63.6989 25.75 63.5V18.5C25.75 18.3011 25.829 18.1103 25.9697 17.9697C26.1103 17.829 26.3011 17.75 26.5 17.75V17.75Z' stroke='#1B335F' stroke-width='1.5')
        path(class="group-hover:strok-white" d='M48.7631 38.364L56.1441 45.749C56.4126 45.9753 56.7562 46.0925 57.107 46.0773C57.4578 46.0621 57.79 45.9157 58.0379 45.667C58.2858 45.4184 58.4312 45.0857 58.4453 44.7349C58.4594 44.3841 58.3412 44.0408 58.1141 43.773L49.7521 35.405C49.4984 35.1517 49.1568 35.0061 48.7983 34.9985C48.4399 34.9908 48.0924 35.1218 47.8281 35.364L39.4071 43.764C39.2661 43.8908 39.1524 44.045 39.0727 44.2171C38.9931 44.3892 38.9493 44.5757 38.9439 44.7652C38.9385 44.9548 38.9717 45.1435 39.0415 45.3198C39.1112 45.4962 39.2161 45.6565 39.3497 45.7911C39.4832 45.9257 39.6428 46.0318 39.8186 46.1028C39.9944 46.1739 40.1828 46.2085 40.3724 46.2046C40.562 46.2007 40.7488 46.1583 40.9215 46.0799C41.0942 46.0016 41.2492 45.889 41.3771 45.749L48.7631 38.364Z' fill='#1B335F')
        defs
            filter#filter0_d_112_3(x='0' y='0' width='98' height='98' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                feflood(flood-opacity='0' result='BackgroundImageFix')
                fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
                feoffset(dy='8')
                fegaussianblur(stddeviation='12.5')
                fecolormatrix(type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.051 0')
                feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_112_3')
                feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_112_3' result='shape')