include _vars_ltr
-
    var imgsDIR = 'imgs'
    var iconsDIR = 'imgs/icons/'
    var cssDIR = 'css/'
    var jsDIR = 'js/'
    var indexURL = 'index.html'
    var aboutURL = 'about.html'
    var contactURL = 'contact.html'
    var newsURL = 'news.html'
    var singleNewsURL = 'single-news.html'
    var whoweareURL = 'whoweare.html'
    var productsURL = 'products.html'
    var singleProductURL = 'single-product.html'
    var leadershipURL = 'leadership.html'
    var careersURL = 'careers.html'
    var jobsURL = 'jobs.html'
    var lubehubURL = 'lubehub.html'
    var singleJobURL = 'single-job.html'
    var applyToJobURL = 'apply-to-job.html'
    var title = siteTitle
    var phone = "0123456789"
    var email = "info@luberef.com"
    var address = ""


    var topLinks = [
        [topNavTEXT[0],careersURL],
        [topNavTEXT[1],newsURL],
        [topNavTEXT[2],contactURL],
    ]
    var bottomLinks = [
        [
            [bottomNavTEXT[0]],

            [
                [bNavLink1TEXT[0][0], bNavLink1TEXT[0][1]],
                [bNavLink1TEXT[1][0], bNavLink1TEXT[1][1]]
            ]
        ],
        [
            [bottomNavTEXT[1]],
            [
                [bNavLink2TEXT[0], singleProductURL],
                [bNavLink2TEXT[1], singleProductURL],
                [bNavLink2TEXT[2], singleProductURL]
            ]
        ],
        [
            [bottomNavTEXT[2], lubehubURL]

        ],
        [
            [bottomNavTEXT[3], "#"]

        ]
    ]