-
    var siteTitle = 'Luberef'    
    var topNavTEXT = ["","",""] 
    var langTEXT = "" 
    var siteDesc = ""
    var bottomNavTEXT = ["","","","",""] 
    var bNavLink1TEXT = ["",""] 
    var bNavLink2TEXT = ["","",""] 
    var TEXT = "" 