-
    var siteTitle = 'Luberef'    
    var topNavTEXT = ["Join Us","News & Media","Get In Touch"] 
    var langTEXT = "عربي" 
    var siteDesc = ""
    var bottomNavTEXT = ["About Luberef", "Our Products", "LubeHUB", "Sustainability & ESG", "Investors"] 
    var bNavLink1TEXT = [
        ["Who we are", whoweareURL],
        ["Our leadership", leadershipURL]
        ] 
    var bNavLink2TEXT = ["Base oil","Specialty products", "Other products"] 
    var headerTEXT = "Keeping The World in Motion"
    var headerDesc = "Luberef produces and supplies Group I, Group II and Group III base oils for global lubricants companies. "
    var scrollTEXT = "Scroll"
    var moreBtnTEXT = "read more"
    var loadMoreTEXT = "load more"
    var exploreBtnTEXT = "explore all"
    var applyNowTEXT = "apply now"
    var mainOverviewTEXT = "An Overview of Luberef"
    var mainOverviewDesc = ["Luberef is one of the world’s leading suppliers of high-quality base oils and the only base oil producer in the Kingdom of Saudi Arabia. Founded in 1976 in the commercial hub of Jeddah, Luberef was established as a joint venture between Petromin and Mobil that today stands as a pioneer in the base oils sector.",'From our two refineries in Yanbu and Jeddah, we have a combined capacity to produce 1.3 million metric tonnes per annum of base oils in high value branded lubricants, primarily for the automotive, marine and industrial sectors.']

    var mainFactsTEXT = "Facts & Figures"
    var mainFactsDesc = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
    var allFactsTEXT = [
        ["assets/facts/1.svg","Leading Producer", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"],
        ["assets/facts/2.svg","Large Scale Capacity", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"],
        ["assets/facts/3.svg","A Prominent Domestic Supplier", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"],
        ["assets/facts/4.svg","Base Oil Alliance Member", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"],
        ["assets/facts/5.svg","Long Term Relationships", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"],
    ]

    var mainProductsTEXT = "explore Our Products"
    var mainProductsDesc = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et"
    var mainProItems = [
        ["assets/slides/1.jpg","Other Products","Luberef's base oils are a key element in passenger car and heavy-duty engine oils, gear oils and transmission fluids."],
        ["assets/slides/2.jpg","Base Oil","Luberef's base oils are a key element in passenger car and heavy-duty engine oils, gear oils and transmission fluids."],
        ["assets/slides/3.jpg","Other Products","Luberef's base oils are a key element in passenger car and heavy-duty engine oils, gear oils and transmission fluids."],

    ]
    var mainAboutTEXT = "about LubeHub"
    var mainAboutDesc = ["A strategically located center of excellence, Lubehub unites a multitude of speciality product producers and operators associated with the base oil industry.","Lubehub encourages overseas blenders to open facilities in Saudi Arabia and benefitfrom reduced shipping delays and costs, all while receiving high-quality productsdirectly from Yanbu."]
    var sustainabilityTEXT = "Sustainability"
    var sustainabilityDesc = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
    var latestNewsTEXT = "Latest News"
    var latestNewsDesc = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt utlabore et dolore magna aliquyam erat, sed diam voluptua."
    var newsTitleTEXT = "Title Here"
    var newsDescTEXT = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna"
    var dateTEXT = "Sep"
    var mainContactTEXT = "Contact Us"
    var mainContactDesc = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore."
    var copyrightsTEXT = "2022 © Saudi Aramco Base Oil Company - Luberef"
    var aboutHeadTEXT = "About us"
    var aboutHeadDesc = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut"
    var aboutTi1TEXT = "Suppliers of Base Oil"
    var aboutTi1Desc = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elit"
    var aboutCardsTEXT = [
        ["assets/about/card-1.jpg", "Who we are", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr,sed diam nonumy eirmod tempor invidunt ut labore",whoweareURL],
        ["assets/about/card-2.jpg", "Our leadership", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr,sed diam nonumy eirmod tempor invidunt ut labore",leadershipURL],
    ]

    var discoverTEXT = ["Discover more", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore"]
    var discoverItemsTEXT = [
        ["Our Products", "assets/discover/1.jpg", "#EFB844"],
        ["Investors", "assets/discover/2.jpg", "#6FB455"],
        ["Sustainability & ESG", "assets/discover/3.jpg", "#099BD6"],
    ]
    var AboutLuberefTEXT = ["About Luberef", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut"]
    var whoFactsTEXT = "Strategic company overview"
    var whoFactsDesc = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
    var whoAllFactsTEXT = [
        ["assets/facts/1.svg","Leading Producer", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"],
        ["assets/facts/2.svg","Large Scale Capacity", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"],
        ["assets/facts/3.svg","A Prominent Domestic Supplier", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"]
    ]
    var whoAboutItemsTEXT = [
        ["assets/whoweare/icon-1.svg", "Our Purpose", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."],
        ["assets/whoweare/icon-2.svg", "Our Vision", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."],
        ["assets/whoweare/icon-3.svg", "Our Mission", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."],
    ]
    var whoStrategyTEXT = ["Our strategy", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmodtempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At veroeos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no seatakimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore etdolore magna aliquyam erat, sed diam voluptua."]
    var whoLeadershipTEXT = ["OUR leadership","Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor inviduntut labore et dolore magna aliquyam erat, sed diam voluptua."]
    var whoLeadershipQuote = ["Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", "Mr. Tareq Alnuaim", "President and CEO "]
    var HistoryTEXT = ["Our history","Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."]
    var whoHistoryTEXT = [
        ["1978","Luberef was established between Petromin (70%) and Mobil (30%) and build Jeddah Refinery (240,000 MT)."],
        ["1998","Luberef built Yanbu Refinery (540,000 MT) and commercial production started in 1997."],
        ["2007","Exxon Mobil sold its 30 % to Jadwa Industrial Investment Company."],
        ["2019","Luberef’s Expansion in Yanbu was completed (1,100,000 MT)."],
    ]
    var leadershipTabsTEXT = [
        "Board of Directors","Corporate Management"
    ]
    var leadershipDirector1TEXT = [
        "assets/leadership/directors/1.jpg","Mr. Ibrahim Q. Al buainain","Charmain of board","Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
    ]
    var leadershipDirectorsTEXT = [
        ["assets/leadership/directors/2.jpg","Mr. Andrew S. Katz","Saudi aramco luberef board member"],
        ["assets/leadership/directors/3.jpg","Mr. Mohammed Al ahmari","Saudi aramco luberef board member"],
        ["assets/leadership/directors/4.jpg","Mr. Abdoulatif AlShami","Saudi aramco luberef board member"],
        ["assets/leadership/directors/5.jpg","Mr. Tariq Al-Sudair","Jadwa luberef board member"],
        ["assets/leadership/directors/6.jpg","Mr. Khalid Al-Zamil","Jadwa luberef board member"],
    ]
    var readBioTEXT = "read full bio"
    var nextTEXT = "Next"
    var closeTEXT = "Close"
    var overProductsTEXT = ["Overview of Luberef Products", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt utlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores etea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Loremipsum dolor sit amet, consetetur sadipscing elit"]
    var productValueTEXT = [
        "our Products Value Proposition",
        "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt utlabore et dolore magna aliquyam erat, sed diam voluptua."
    ]
    var productValItemsTEXT = [
        ["assets/products/safe.svg", "Saftey", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, seddiam voluptua. At vero eos et accusam et justo duo dolores et ea rebum"],
        ["assets/products/solutions.svg", "Integrity", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, seddiam voluptua. At vero eos et accusam et justo duo dolores et ea rebum"],
        ["assets/products/safe.svg", "Saftey", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, seddiam voluptua. At vero eos et accusam et justo duo dolores et ea rebum"],
        ["assets/products/solutions.svg", "Integrity", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, seddiam voluptua. At vero eos et accusam et justo duo dolores et ea rebum"],

    ]
    var baseOilHeadTEXT = ["Base Oil","Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut"]
    var baseProductsTEXT = ["Base Oil Products", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut "]
    var productTEXT = "Product"
    var TechnicalDownTEXT = "Technical specs"
    var subProductsItemsTEXT = [
        "AramcoDURA®150",
        "AramcoDURA®500",
        "AramcoDURA®BS150",
        "AramcoPRIMA®70",
        "AramcoPRIMA®110",
        "AramcoPRIMA®230",
        "AramcoPRIMA®500",
    ]
    var productUsesTEXT = ["Product Uses","Luberef's range of quality base oils has have a variety of practical uses that help power transportation,manufacturing and other key infrastructure foundations organizations."]
    var productUsesItmsTEXT = [
        ["assets/products/uses/1.jpg", "Passenger Vehicles", "Luberef’s base oils are a primary and necessary component in the engine oils of traditional petrol and diesel passenger vehicles.", "#EFB844"],
        ["assets/products/uses/2.jpg", "Manufacturing Machinery", "All manufacturing industries that require heavy production facilities and machinery, whether Steel, Textiles or Food, require a base oil product to operate.", "#6FB455"],
    ]
    var clientsQuotesTEXT = "what our clients say about us"
    var faqTEXT = "FAQ's"
    var faqsItemsTEXT = [
        "Where Is Luberef Based?","Who Is The Technical Manager For Luberef?","Who Are The Partners Of Luberef?","What Are Luberef Products?"
    ]
    var careersHeadTEXT = ["life as luberef", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut"]
    var careersOverTEXT = ["Overview of Luberef Products", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elit" ]
    var ourValueTEXT = ["Our value", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."]
    var careersWorkTEXT = "Working at Luberef"
    var careersWorkItmsTEXT = [
        ["assets/careers/work/1.jpg", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"],
        ["assets/careers/work/2.jpg", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"],
        ["assets/careers/work/3.jpg", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"],
    ]
    var safetyTEXT = ["safety", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."]
    var findJobTEXT = "Find the Career You Deserve"
    var jobsItemsTEXT = [
        ["Senior Architecture Manager", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."],
            ["Full time", "Yanbu","1 month ago"]
    ]
    var jobRegisterTEXT = ["Share your resume", "Haven’t found the right position for you? Send us your resume anyway and tell us why are you a good fit for STC solutions."]
    var jobRegisterFieldsTEXT = [
        ["text","First name"],
        ["text","Last name"],
        ["email","Your email"],
        ["text","Your nationality"],
        ["tel","Phone number"],
        ["date","Date of birthday"],
        ["text","Your university"],
        ["text","Your major"],
        ["number","Years of experience"],
        ["text","Your GPA"],
    ]    
    var errorTEXT = 'This field is Required.' 
    var emailErorTEXT = 'Invalid email address.' 
    var sendTEXT = "send"
    var uploadTEXT = ["Upload a file ", "or drag and drop here "]
    var invalidFileTEXT = "Invalid files"
    var dropHereTEXT = "Drop Here"
    var ResumeTEXT = "Resume"
    var careerTEXT = "Careers"
    var descriptionTEXT = ["description", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore etdolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sitamet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magnaaliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasdgubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet."]
    var RequirementsTEXT = ["Job Requirements", 
    ["Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum"]
    ]
    var applyLinkedTEXT = ["Apply with LinkedIn", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr"]
    var EasyApplyTEXT = "Easy Apply"
    var RequiredFieldsTEXT = "Required fields"
    var PersonalInfoTEXT = "Personal Information"
    var jobRegisterFields2TEXT = [
        ["text","First name"],
        ["text","Last name"],
        ["email","Your email"],
        ["text","Your nationality"],
        ["tel","Your phone"],
        ["date","Date of birthday"],
        ["text","Your country"],
        ["text","Your city"],
    ]
    var jobRegisterFields3TEXT = [
        ["text","Your university"],
        ["text","Your major"],
        ["number","Years of experience"],
        ["text","Your GPA"],
    ]  
    var ProfileTEXT = "Profile"
    var clearTEXT = "Clear"
    var newsTEXT = ["news & media", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut"]
    var resourcesTEXT = ["Resources","Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt"]
    var resourcesItemsTEXT = [
        ["assets/resources/pdf.svg", "Resource 1", "Lorem ipsum dolor sit amet, consectetur dipscing elitr"],
        ["assets/resources/doc.svg", "Resource 2", "Lorem ipsum dolor sit amet, consectetur dipscing elitr"],
        ["assets/resources/doc.svg", "Resource 3", "Lorem ipsum dolor sit amet, consectetur dipscing elitr"],
        ["assets/resources/doc.svg", "Resource 4", "Lorem ipsum dolor sit amet, consectetur dipscing elitr"],
        ["assets/resources/pdf.svg", "Resource 5", "Lorem ipsum dolor sit amet, consectetur dipscing elitr"],
        ["assets/resources/pdf.svg", "Resource 6", "Lorem ipsum dolor sit amet, consectetur dipscing elitr"],
    ]
    var getInTouchTEXT = ["Get in touch", "We are here to help. If you require any further information on our products, wish to join Luberef or have a media enquiry then please do get in touch."]
    var getintouchFieldsTEXT = [
        ["select","General inquiry"],
        ["text","Last name"],
        ["email","Your email"],
        ["text","Your subject"],
    ]  
    var YourMessageTEXT = "Your Message"
    var locationHeadTEXT = "luberef Address"
    var locationsTEXT = [
        ["Jeddah, Saudi Arabia", "Petromin, Jeddah 22411"],
        ["Yanbu, Saudi Arabia", "Yanbu Al Sinaiyah, Yanbu 46481"],
    ]
    var LubehubTEXT = ["Lubehub", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut"]
    var LubehubOverTEXT = [
        "What is LubeHub", 
        "A strategically located hub of excellence, Lubehub brings together multiple Speciality Products Producesrs and operators associated with the base oil industry and encourages overseas blenders to open facilities in Saudi Arabia to directly benefit from reduced shipping delays and costs, receiving high quality product directly from Yanbu.", 
        "The development is a key contributor to Saudi Arabia’s Vision 2030 in attracting inward investment opportunities and offers financing, trading, and employment incentives."
    ]
    var addValueTEXT = ["How does it add value", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."]
    var addValueListTEXT = [
        "Direct piped feed of luberef base oils", 
        "Access to a world-class Yanbu ecosystem", 
        "Access to fast-growing markets in the Middle East and Africa", 
        "Attractive investor incentives available", 
    ]
    var keyBenefitsTEXT = ["Key benefits of Yanbu ecosystem", "Lorem ipsum dolor sit amet, consetetur adipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."]
    var keyBenefitsItemsTEXT = [
        ["Global Refining Hub", "1 million barrels per day"],
        ["World Scale Chemicals Assets", "3.5 million tons per year"],
    ]
    var LubehubincentivesTEXT = ["Lubehub incentives & opportunities", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."]
    var InvestmentTEXT = ["Investment opportunities", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."]
    var InvestmentItemsTEXT = ["All", "Finished Lubricants", "Speciality Oils", "Lubricant Additives"]
    var blendingTEXT = ["Finished Lubricants Blending", 
    ["Construction of a blending plant to produce finished lubricants for use in a variety of automotive and industrial applications.", "Blended lubricants are prepared by blending base oils with a variety of additives depending on what the final application will be.", "Luberef Yanbu produces Group II base oils and bright stock that can be used to produce a wide variety of lubricants.", "Two major additive blenders are located within the Yanbu ecosystem."]
    ]
    var investFactsTEXT = ["Investment facts",
    [
        ["Market Size", "4.1 million tons", "Middle East and Africa (2018)"],
        ["Growth Rate", "2-3% per year", "Middle East and Africa (2019-23)"],
        ["Capacity", "30-80 kta", " (Typical plant)"],
        ["Capex Range", "$30-80 million", "Power sector investment in 2018-22"],
    ]

    ]
    var aboutinvestmentTEXT = ["About investment" , 
    [
        ["assets/lubehub/about/1.svg", "Products", "Engine oil, Hydraulic fluid, Transmission fluid, Gear oil, and Greases"],
    ["assets/lubehub/about/2.svg", "Raw Materials", "Luberef base oils Additives"],
    ["assets/lubehub/about/3.svg", "Utilities", "Electricity Water"],
    ["assets/lubehub/about/4.svg", "Technology", "Blending"],
    ]
    ]
    var placeholderSearchTEXT = "Search for jobs"
    var searchTEXT = "search"
    var clearAllTEXT = "clear all"
    var CountryTEXT = "Country"
    var CityTEXT = "City"
    var CareerfieldsTEXT = "Career fields"
    var FinishedLubricantsTEXT = "Finished Lubricants"
    var contactOptionsTEXT=["General inquiry","Products & Sale","Purchasing & Contracts","Media Relations","Careers "]